.container {
  padding: 10px;
  list-style-type: none;
  background-color: #FFF;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}

.info {
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info > p {
  margin: 0;
}